html {
  width: 100%;
  height: 100%;
  margin: 0px;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

div.headerDiv {
  width: 100%;
  height: 11.5%;
  background-color: #ffffff;
}

nav ul{
  display: inline-block;
  /*text-decoration: none;*/
  color: #0cb240;
  float: right;
}

nav ul li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

div.topRectDiv {
  width: 100%;
  height: 55%;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #ff4744;
}

div.imagesDiv {
  width: 100%;
  height: 75%;
  background-color: #ffffff;
}

img.image {
  display: inline-block;
  width: 15%;
  height: 30%;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 2.2%;
  margin-bottom: 3%;
  border: solid black 20px;
}

div.footerRectDiv {
  width: 100%;
  height: 33.5%;
  /*margin-top: 5px;*/
  /*padding-left: 0px;
  padding-right: 0px;*/
  background-color: #ff4744;
}

div.footerDiv {
  width: 100%;
  height: 6.5%;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #0cb240;
}

.centered {
  text-align: center;
}

#welcome {
  font-size: 30px;
  padding-top: 10px;
  color: #0cb240;
}

#title {
  font-size: 50px;
  padding-top: 10px;
  color: #0cb240;
}

#readMore {
  margin-left: 46.5%;
  width: 10%;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;
  border: solid #0cb240 3px;
  color: #0cb240;
}
