body {
	background-image: url(./Images/gray_sand_@2X.png);
	/*background-image: url(./Images/fresh_snow_@2X.png);*/
	color: #2aff00;
	/*padding: 100px;*/
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: Impact;
	border: dashed gray 3px;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 15px;
}

h5 {
	font-size: 12px;
}

h6 {
	font-size: 10px;
}

a {
	color: #fcff00;
	text-decoration: none;
}

a:hover	{
	color: #ff0000;
	text-decoration: none;
}

a:active {
	color: #fe0014;
	text-decoration: none;
}

a:visited {
	color: #7b7eff;
	text-decoration: none;
}

a:visited:hover {
	color: #af0000;
	text-decoration: none;
}

nav li {
	display: inline-block;
	padding-left: 0px;
	padding-right: 20px;
}

#IndexLink {
  position: padding-bottom;
  bottom: 0;
}
