body {
	background-image: url(./Images/gray_sand_@2X.png);
	/*background-image: url(./Images/fresh_snow_@2X.png);*/
	/*color: #2aff00;*/
	/*padding: 100px;*/
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: Impact;
	border: dashed gray 3px;
}

h1 {
	font-size: 50px;
	color: gray;
}

h2 {
	font-size: 35px;
	color: black;
}

h3 {
	font-size: 20px;
	color: black;
}

h4 {
	font-size: 15px;
	color: black;
}

h5 {
	font-size: 12px;
	color: black;
}

h6 {
	font-size: 10px;
	color: black;
}

p {
	font-size: 15px;
	color: black;
}

p.outlined-par {
	border: dashed gray 3px;
	padding: 8px;
}

a {
	/*color: #ffffff;*/
	color: orange;
	text-decoration: none;
}

a:hover	{
	color: #ffffff;
	text-decoration: none;
}

a:active {
	color: #000000;
	text-decoration: none;
}

a:visited {
	/*color: #ffffff;*/
	color: orange;
	text-decoration: none;
}

a:visited:hover {
	color: #ffffff;
	text-decoration: none;
}

nav li {
	display: inline-block;
	padding-left: 0px;
	padding-right: 20px;
}

ul.outlined-ul {
	padding-top: 8px;
	padding-bottom: 8px;
	border: dashed gray 3px;
}

nav.inline-nav {
	border: dashed gray 3px;
	float: right;
}

div {
	overflow: auto;
	border: dashed gray 3px;
	padding: 10px;
	margin-bottom: 10px;
}

div.image-zoom-div {
	/*overflow: visible;*/
}

img.header-logo {
	float: left;
	border: dashed gray 3px;
	/*border-radius: 50px 50px 50px 50px;*/
	margin-right: 8px;
}

img.header-logo:hover {
	-webkit-transition: all 5s ease-in-out;
	-moz-transition: all 5s ease-in-out;
	-ms-transition: all 5s ease-in-out;
	-o-transition: all 5s ease-in-out;
	transition: all 5s ease-in-out;

	-moz-transform: scale(8) translateX(40px) translateY(45px);
	-webkit-transform: scale(8) translateX(40px) translateY(45px);
	-o-transform: scale(8) translateX(40px) translateY(45px);
	-ms-transform: scale(8) translateX(40px) translateY(45px);
	transform: scale(8) translateX(40px) translateY(45px);

/*	-moz-transform: scale(1) translateX(400px) translateY(400px);
	-webkit-transform: scale(1) translateX(400px) translateY(400px);
	-o-transform: scale(1) translateX(400px) translateY(400px);
	-ms-transform: scale(1) translateX(400px) translateY(400px);
	transform: scale(1) translateX(400px) translateY(400px);*/
}

#IndexLink {
  position: padding-bottom;
  bottom: 0;
}
