body {
	/*background-image: url(./Images/gray_sand_@2X.png);*/
	background-image: url(./Images/micro_carbon_@2x.png);

	/*background: #000000;
	background: -moz-linear-gradient(top,  #000000 0%, #000000 9%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(9%,#000000), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top,  #000000 0%,#000000 9%,#e5e5e5 100%);
	background: -o-linear-gradient(top,  #000000 0%,#000000 9%,#e5e5e5 100%);
	background: -ms-linear-gradient(top,  #000000 0%,#000000 9%,#e5e5e5 100%);
	background: linear-gradient(to bottom,  #000000 0%,#000000 9%,#e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#e5e5e5',GradientType=0 );
	margin: 0 auto;*/

	/*color: #2aff00;*/
	/*padding: 100px;*/
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 100px;
	font-family: Impact;
	/*border: dashed gray 3px;*/

	margin: 0 auto;
}

h1 {
	font-size: 50px;
	color: white;
}

h2 {
	/*text-align: center;*/
	font-size: 35px;
	color: #cdcdcd;
}

h3 {
	font-size: 20px;
	color: #cdcdcd;
}

h4 {
	font-size: 15px;
	color: #cdcdcd;
}

h5 {
	font-size: 12px;
	color: #cdcdcd;
}

h6 {
	font-size: 10px;
	color: #cdcdcd;
}

li {
	color: #cdcdcd;
}

p {
	font-size: 15px;
	color: #cdcdcd;
}

p.outlined-par {
	/*border: dashed gray 3px;*/
	padding: 8px;
}

a {
	/*color: #ffffff;*/
	color: red;
	text-decoration: none;
}

a:hover	{
	color: white;
	text-decoration: none;
}

a:active {
	color: red;
	text-decoration: none;
}

a:visited {
	/*color: #ffffff;*/
	color: red;
	text-decoration: none;
}

a:visited:hover {
	color: white;
	text-decoration: none;
}

nav li {
	display: inline-block;
	padding-left: 0px;
	padding-right: 20px;
}

ul.outlined-ul {
	padding-top: 8px;
	padding-bottom: 8px;
	/*border: dashed gray 3px;*/
}

nav.inline-nav {
	/*border: dashed gray 3px;*/
	float: right;
}

div {
	overflow: auto;
	/*border: dashed gray 3px;*/
	padding: 10px;
	margin-bottom: 10px;
}

/*************LINK SITE*************/

div.image-zoom-div {
	/*overflow: visible;*/
}

img.header-logo {
	float: left;
	width: 50%;
	height: 50%;
	/*border: dashed gray 3px;*/
	border-radius: 15px 15px 15px 15px;
	margin-right: 8px;
    -webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
    -o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

img.header-logo:hover {
     width: 55%;
     height: 55%;
}

/*************CYLON STUFF*************/

p.cylon-text {
	padding-right: 50px;
	width: fixed;
	/*float: padding-left;*/
	text-align: center;
}

a.cylon-link {
	color: red;
}

a.cylon-link:hover {
	color: white;
}

nav.top-cylon-nav {
	float: right;
	padding-bottom: 15px;
	/*width: 100%;*/
	width: 1000px;
}

nav.bottom-cylon-nav {
	float: right;
	/*background: black;*/
}

nav li.bottom-cylon-nav-li {
	color: red;
	text-align: right;
}

nav li.top-cylon-nav-li {
	color: red;
	font-size: 30px;
}

ul.align-nav-right {
	text-align: right;
}

div.cylon-div {
	float: left;
	/*width: 50%;*/
	/*width: 1000px;*/
	width: 50%;
	text-align: center;
}

div.bottom-cylon-div {
	background: black;
}

/*img.cylon-header {
	float: bottom;
	position: top;
}*/

.page-centered-x {
	position: static;
	top: 1000px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#cylon-header {
	width: 100%;
}

#cylon {
	float: right;
	/*vertical-align: text-bottom;*/
	align-self: right;
	padding-bottom: 50px;
	/*width: 600px;*/
	width: 100%;
}

#beware {
	color: red;
	text-align: right;
}

#IndexLink {
  /*position: padding-bottom;*/
  float: bottom;
  bottom: 0;
}
